.card {
  background:white;
  padding:10px;
  border-radius:12px;
  text-align:left;
  box-shadow:0 4px 12px rgba(0,0,0,0.06);
  transition:0.3s;
}

.card:hover {
  transform:translateY(-6px);
  box-shadow:0 12px 25px rgba(0,0,0,0.12);
}

.card h4 {
  margin:8px 0 4px;
  font-size:14px;
}

.card p {
  font-size:12px;
  margin:2px 0;
}
