body{
  margin:0;
  font-family:Segoe UI;
  background:#fdf6ee;
}

.nav{
  display:flex;
  justify-content:space-between;
  padding:12px;
  background:white;
}

.header{
  text-align:center;
  padding:15px;
  font-weight:bold;
  background:white;
  margin-bottom:10px;
}

.container{
  padding:10px;
}

.products{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
}

.card{
  background:white;
  padding:10px;
  border-radius:10px;
  text-align:center;
}

.card img{
  width:100%;
  aspect-ratio:1/1;
  object-fit:cover;
  border-radius:8px;
}

.card button{
  width:100%;
  padding:12px;
  margin-top:8px;
  background:#712b13;
  color:white;
  border:none;
  border-radius:8px;
  font-size:14px;
}

.cart-bar{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background:white;
  display:flex;
  justify-content:space-between;
  padding:12px;
  border-top:1px solid #ddd;
}
